<div class="container">
  <h1 [translate]="'ABOUT.PAGE_TITLE'">ABOUT NgSpotify</h1>
  <h5><em [translate]="'ABOUT.PAGE_DESCRIPTION'">User interface the tat allows for the querying of artist data via the Spotify Web API, Built with the Angular framework (version 5)  </em></h5>
  <h4 [translate]="'ABOUT.FEATURES.TITLE'">Features</h4>
  <ul>
    <li [translate]="'ABOUT.FEATURES.A'">Search artists by name</li>
    <li [translate]="'ABOUT.FEATURES.B'">view artist details, such as genres, albums</li>
    <li [translate]="'ABOUT.FEATURES.C'">view an artists album details</li>
    <li [translate]="'ABOUT.FEATURES.D'">internationalization (english/spanish)</li>
    <li [translate]="'ABOUT.FEATURES.E'">change theme</li>
  </ul>
  <h4 [translate]="'ABOUT.TECH.TITLE'">Technologies / Libraries</h4>
  <ul>
    <li>Angular 5</li>
    <li>Rxjs</li>
    <li>skeleton.css</li>
    <li>animate.css</li>
    <li>Material icons</li>
    <li>ngx-translate</li>
  </ul>
</div>
