.container {

  .row {
    height: 100%;
    border: 1px solid #666;
    padding: 20px;
    margin-bottom: 20px;
    label {
      display: inline;
    }
    button {
      float: right;
    }

  }
}
