<div class="container">
  <h1 [translate]="'SETTING.PAGE_TITLE'">Settings</h1>

  <div class="row">
    <h4 [translate]="'SETTING.LANGUAGE.TITLE'">Language</h4>
    <form action="">
      <input type="radio" name="language" value="en" id="en" [(ngModel)]="settings.language"> <label for="en" [translate]="'SETTING.LANGUAGE.ENGLISH'">English</label><br>
      <input type="radio" name="language" value="es" id="es" [(ngModel)]="settings.language">  <label for="es" [translate]="'SETTING.LANGUAGE.SPANISH'">Spanish</label><br>
      <button class="button button-primary" (click)="updateSettings()"  [translate]="'COMMON.SAVE'">Save</button>
    </form>
  </div>

  <div class="row">
    <h4 [translate]="'SETTING.THEME.TITLE'">Theme</h4>
    <form action="">
      <input type="radio" name="theme" value="light_theme" id="li" [(ngModel)]="settings.theme"> <label for="li"  [translate]="'SETTING.THEME.LIGHT'">Light</label><br>
      <input type="radio" name="theme" value="dark_theme" id="dark" [(ngModel)]="settings.theme"> <label for="dark" [translate]="'SETTING.THEME.DARK'" >Dark</label><br>
      <input type="radio" name="theme" value="spotify_theme" id="sp" [(ngModel)]="settings.theme"> <label for="sp" [translate]="'SETTING.THEME.SPOTIFY'">Spotify</label><br>
      <button class="button button-primary" [translate]="'COMMON.SAVE'" (click)="updateSettings()" >Save</button>
    </form>
  </div>
</div>
