<div class="pre-app" *ngIf="!authorized">
  <div class="instructions">
    <h1 [translate]="'PRE.REQUIRED'"></h1>
    <br>
    <h2><em [translate]="'PRE.SHOULD_AUTH'"></em></h2>
  </div>
  <button class="button button-primary grant-access" (click)="goToAuthorizationPage()"><img src="../assets/Spotify_Logo_RGB_Black.png" alt=""><span [translate]="'PRE.GRANT'">Grant Access</span></button>
</div>


<ng-container *ngIf="authorized">
<h1 [translate]="'SEARCH.TITLE'">Find Music</h1>
<form>
  <input class="u-full-width" type="text" placeholder="Search Artist" [(ngModel)]="searchInput" name="searchInput" (keyup)="searchMusic()">
</form>
<artists [artists]="searchResults"></artists>
</ng-container>
