  .pre-app {
    margin-top: 15%;

    .grant-access {
      width: 350px;
      font-size: 14px  !important;
      img     {
        width: 100px;
        height: 25px;
        vertical-align: middle;
        margin-right: 10px;
      }
    }
  }

