.artist-results {
  display: flex;
  flex-direction: column;

  .artist-result {

    .name {
      text-decoration: underline;
      img {
        width: 100px;
        height: 100px;
      }
    }

  }
}
