<div class="artist-results">
  <div class="artist-result" *ngFor="let artist of  artists">
    <h5 class="name"><a routerLink="/artist/{{artist.id}}">{{artist?.name}}</a></h5>
    <ng-container *ngIf="artist?.genres.length > 0">
      genres: <span *ngFor="let genre of artist?.genres">{{genre}}</span>
    </ng-container>
  </div>
</div>
