<div id="album" *ngIf="album">
  <header>
   <div class="row">
     <div class="four columns">
       <img class="album-thumb" style="width: 300px" src="{{album?.images[0]?.url}}" alt="">
     </div>
     <div class="eight columns">
       <h4 *ngIf="album?.artists.length > 0">
         <span *ngFor="let artist of album?.artists">
           {{artist.name}}
         </span>
       </h4>
       <h2>{{album?.name}}</h2>
       <h5>{{album?.release_date}}</h5>
       <a href="{{album?.external_urls?.spotify}}" class="button button-primary" target="_blank">View in spotify</a>
     </div>
   </div>
 </header>
  <div class="album-tracks">
    <h2>Album Tracks</h2>
    <div *ngFor="let track of album?.tracks?.items">
      <div class="well">
        <h5>{{track?.track_number}} -  {{track?.name}}</h5>
        <a href="{{track?.preview_url}}" target="_blank">Preview track</a>
      </div>
    </div>
  </div>
</div>

