

:host {
  height:100vh;

  &.dark-theme {
    background-color: #2d2d2d !important;
    color: #ababab;
    display: block;
    ::ng-deep {
      button, a.button {
        background-color: #8d2663 !important;
        color: #ababab;

      }
    }
  }

  &.spotify-theme {
    background-image: linear-gradient(transparent,#000);
    ::ng-deep {
      button, a.button {
        text-align: center;
        font-size: 16px;
        line-height: 1;
        border-radius: 500px;
        color: #fff;
        background-color: #1db954 !important;
        padding: 10px;

      }
    }

  }
}
