<ul class="block-menu">
  <li><a href="#">ngSpotify</a></li>
  <li *ngFor="let item of navItems">
    <a href="/" class="three-d" routerLink="{{item.path}}" routerLinkActive="active">
      {{item.text | translate}}
      <span aria-hidden="true" class="three-d-box" >
			<span class="front"><i class="material-icons">{{item.icon}}</i></span>
			<span class="back" [translate]="item.text"></span>
		</span>
    </a>
  </li>
  <a class="button button-primary" (click)="deAuthorize()" *ngIf="isAuthorized()">De-Authorize, {{user?.id}}?</a>

</ul>
