/* basic menu styles */
.block-menu {
  display: flex;
  background: #000;
  list-style: none;
  justify-content: center;
  border: 1px solid #bbe0ff;
  width: 1150px;

  li {
    margin-bottom: 0;
    a {
      color: #fff;
      display: block;
      text-decoration: none;
      font-family: 'Passion One', Arial, sans-serif;
      font-smoothing: antialiased;
      text-transform: uppercase;
      overflow: visible;
      line-height: 20px;
      font-size: 24px;
      padding: 15px 10px;
      text-align: center;
      width: 250px;
    }
  }
  a.button {
    right: 0;
    top: 60px;
    position: absolute;
    width: fit-content;
  }
}

/* animation domination */

.three-d {
  perspective: 200px;
  transition: all .07s linear;
  position: relative;
  cursor: pointer;
  &:hover:not(.active) .three-d-box, &:focus:not(.active) .three-d-box {
    transform: translateZ(-25px) rotateX(90deg);
  }
  &.active {
    .three-d-box {
      .front {
        transform: rotatex(-90deg) translatez(25px);
      }
      .back {
        transform: rotatex(0deg) translatez(25px);
        //color: #000 !important;
        background: #bbe0ff !important;
      }
    }
  }

  /* complete the animation! */

  .three-d-box {
    transition: all .3s ease-out;
    transform: translatez(-25px);
    transform-style: preserve-3d;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;

    /*put the "front" and "back" elements into place with CSS transforms, specifically translation and translatez*/

    .front {
      transform: rotatex(0deg) translatez(25px);
    }

    .back {
      transform: rotatex(-90deg) translatez(25px);
      //color: #000 !important;
      background: #FFB82B !important;
    }

    .front, .back {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: black;
      padding: 15px 10px;
      color: white;
      pointer-events: none;
      box-sizing: border-box;
    }
  }
}



