<ng-container *ngIf="artist">
  <header>
    <div *ngIf="artist?.images?.length > 0">
      <img class="artist-thumb" src="{{artist?.images[0]?.url}}" alt="">
    </div>
    <h1>{{artist?.name}}</h1>
    <p *ngIf="artist?.genres?.length > 0">
      Genres: <span *ngFor="let genre of artist?.genres">{{genre}}</span>
    </p>
  </header>
  <div class="artist-albums">
    <div class="album" *ngFor="let album of albums">
        <img src="{{album?.images[0]?.url}}" alt="" class="album-thumb img-thumbnail">
        <h4>{{album?.name | truncate : 20 : " ..." }}</h4>
      <a class="button button-primary" routerLink="/album/{{album?.id}}">Album Details</a>
    </div>
  </div>
</ng-container>
