header {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #333;
  .artist-thumb {
    width: 80px;
    height: auto;
    float: left;
    margin-right: 10px;
    border-radius: 40px;
  }
}

.artist-albums {
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .album {
    text-align: center;
   // background: #333;
    padding: 10px 20px;
    border: #666 3px solid;
    flex-basis: 220px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .album-thumb {
      width: 100%;
    }

  }
}
