/* You can add global styles to this file, and also import other style files */
@import "assets/Skeleton-Sass-master/scss/skeleton";
html, body {
  height: 100vh;
  margin:0;
  padding:0;
  overflow: auto;
}



